In [1]:
# Importazione delle librerie necessarie
import pandas as pd
import numpy as np

In [2]:
ur = pd.read_csv (r'C:\Users\busco\OneDrive\Documenti\Python Scripts\Repo_tassi_dec\Progetto_Studio\Data\Predittori\Unemployment rate.csv')

In [5]:
ur_df=pd.DataFrame(ur)
print(ur_df)

     LOCATION INDICATOR SUBJECT MEASURE FREQUENCY     TIME     Value  \
0         AUS       HUR     TOT   PC_LF         Q  1966-Q3   1.80000
1         AUS       HUR     TOT   PC_LF         Q  1966-Q4   1.70000
2         AUS       HUR     TOT   PC_LF         Q  1967-Q1   1.80000
3         AUS       HUR     TOT   PC_LF         Q  1967-Q2   2.00000
4         AUS       HUR     TOT   PC_LF         Q  1967-Q3   1.90000
...       ...       ...     ...     ...       ...      ...       ...
5432      CRI       HUR     TOT   PC_LF         Q  2020-Q2  23.41306
5433      CRI       HUR     TOT   PC_LF         Q  2020-Q3  21.73210
5434      CRI       HUR     TOT   PC_LF         Q  2020-Q4  20.22005
5435      CRI       HUR     TOT   PC_LF         Q  2021-Q1  18.88611
5436      CRI       HUR     TOT   PC_LF         Q  2021-Q2  17.82390

     Flag Codes
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
...         ...
5432        NaN
5433        NaN
5434        NaN
5435        NaN
5436        NaN

[5437 rows x 8 columns]

In [9]:
print(ur_df["LOCATION"].unique())

['AUS' 'AUT' 'BEL' 'CAN' 'CZE' 'DNK' 'FIN' 'FRA' 'DEU' 'GRC' 'HUN' 'ISL'
 'IRL' 'ITA' 'JPN' 'KOR' 'LUX' 'MEX' 'NLD' 'NZL' 'NOR' 'POL' 'PRT' 'SVK'
 'ESP' 'SWE' 'CHE' 'TUR' 'GBR' 'USA' 'CHL' 'EST' 'ISR' 'SVN' 'OECD' 'G-7'
 'EA19' 'LVA' 'LTU' 'COL' 'EU27_2020' 'CRI']

In [12]:
#selection of Italy
ur_df=ur_df[ur_df["LOCATION"]=="ITA"]

In [19]:
ur_df["QUARTER"]=ur_df["TIME"].str[6:7].astype(int)
ur_df.drop(["Flag Codes","SUBJECT","MEASURE"], axis=1, inplace=True)
print(ur_df)

     LOCATION INDICATOR FREQUENCY     TIME      Value  QUARTER
1855      ITA       HUR         Q  1983-Q1   7.066667        1
1856      ITA       HUR         Q  1983-Q2   7.266667        2
1857      ITA       HUR         Q  1983-Q3   7.433333        3
1858      ITA       HUR         Q  1983-Q4   7.700000        4
1859      ITA       HUR         Q  1984-Q1   7.866667        1
...       ...       ...       ...      ...        ...      ...
2004      ITA       HUR         Q  2020-Q2   8.466666        2
2005      ITA       HUR         Q  2020-Q3  10.033330        3
2006      ITA       HUR         Q  2020-Q4   9.833333        4
2007      ITA       HUR         Q  2021-Q1  10.100000        1
2008      ITA       HUR         Q  2021-Q2   9.800000        2

[154 rows x 6 columns]

In [22]:
#check if there are duplicate in time
ur_df[ur_df.duplicated('TIME')]

Empty DataFrame
Columns: [LOCATION, INDICATOR, FREQUENCY, TIME, Value, QUARTER]
Index: []

In [23]:
#computation of the rate
ur_df=ur_df.sort_values(['TIME'])
ur_df['Previous Value'] = ur_df.sort_values('TIME').groupby('QUARTER')['Value'].shift(1)

In [24]:
print(ur_df)

     LOCATION INDICATOR FREQUENCY     TIME      Value  QUARTER  Previous Value
1855      ITA       HUR         Q  1983-Q1   7.066667        1             NaN
1856      ITA       HUR         Q  1983-Q2   7.266667        2             NaN
1857      ITA       HUR         Q  1983-Q3   7.433333        3             NaN
1858      ITA       HUR         Q  1983-Q4   7.700000        4             NaN
1859      ITA       HUR         Q  1984-Q1   7.866667        1        7.066667
...       ...       ...       ...      ...        ...      ...             ...
2004      ITA       HUR         Q  2020-Q2   8.466666        2       10.066670
2005      ITA       HUR         Q  2020-Q3  10.033330        3        9.700000
2006      ITA       HUR         Q  2020-Q4   9.833333        4        9.866667
2007      ITA       HUR         Q  2021-Q1  10.100000        1        8.900000
2008      ITA       HUR         Q  2021-Q2   9.800000        2        8.466666

[154 rows x 7 columns]

In [26]:
ur_df["UR"]=ur_df["Value"]/ur_df["Previous Value"]
ur_df2=ur_df[pd.notnull(ur_df["UR"])]
ur_df2=ur_df2[["TIME","QUARTER","Value","UR"]]
print(ur_df2)

         TIME  QUARTER      Value        UR
1859  1984-Q1        1   7.866667  1.113208
1860  1984-Q2        2   7.833333  1.077982
1861  1984-Q3        3   7.800000  1.049327
1862  1984-Q4        4   7.833333  1.017316
1863  1985-Q1        1   8.000000  1.016949
...       ...      ...        ...       ...
2004  2020-Q2        2   8.466666  0.841059
2005  2020-Q3        3  10.033330  1.034364
2006  2020-Q4        4   9.833333  0.996622
2007  2021-Q1        1  10.100000  1.134831
2008  2021-Q2        2   9.800000  1.157480

[150 rows x 4 columns]

In [27]:
ur_df2.to_pickle(r"C:\Users\busco\OneDrive\Documenti\Python Scripts\Repo_tassi_dec\Progetto_Studio\Data\DF_PKL\ur_df.pkl")